@import url("../../Colores/Colores.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

/* configuracion articulos */

main .contenedor-articulos {
    background: var(--color-fondo-formularios1);
    border: 2px solid var(--color-secundario);
    border-radius: 10px;
    box-shadow: #000 1px 1px 10px 0px;
    max-width: 1200px;
    position: relative;
    width: 100%;
    height: 90%;
}

    main .contenedor-articulos .contenedor-header {
        box-shadow: var(--color-primario) -1px 2px 20px 3px;
        height: 100px;
        background: var(--color-secundario);
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
        align-items: center;
    }

        main .contenedor-articulos .contenedor-header label {
            font-size: 3rem;
            text-shadow: 2px 2px 1px var(--color-fondo-formularios1);
            color: var(--color-primario);
            margin-left: 50px;
        }

label {
}

main .contenedor-articulos .contenedor-header button {
    background: transparent;
    border: transparent;
    display: flex;
    align-items: center;
}

    main .contenedor-articulos .contenedor-header button:hover > label {
        color: var(--color-primario);
        transform: translateY(-3px);
    }

    main .contenedor-articulos .contenedor-header button:hover > span {
        color: var(--color-primario);
        transform: translateY(-3px);
    }

    main .contenedor-articulos .contenedor-header button label {
        font-size: 1rem;
        text-decoration: underline;
        cursor: pointer;
        color: var(--color-primario-claro);
    }

    main .contenedor-articulos .contenedor-header button span {
        font-size: 1rem;
        cursor: pointer;
        color: var(--color-primario-claro);
    }

main .contenedor-articulos .contenedor-tabla {
    padding: 10px 5px 10px 5px;
    max-height: 700px;
    overflow: scroll;
    width: 100%;
    height: 85%;
}

    main .contenedor-articulos .contenedor-tabla::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    main .contenedor-articulos .contenedor-tabla::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
        display: none;
    }

    main .contenedor-articulos .contenedor-tabla::-webkit-scrollbar:horizontal {
        height: 4px;
    }

    main .contenedor-articulos .contenedor-tabla::-webkit-scrollbar:vertical {
        width: 2px;
    }

    main .contenedor-articulos .contenedor-tabla::-webkit-scrollbar-thumb {
        background-color: var(--color-primario);
        border-radius: 2px;
        border: 2px solid var(--color-primario);
    }

    main .contenedor-articulos .contenedor-tabla::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    main .contenedor-articulos .contenedor-tabla table {
        border-collapse: separate;
        border-spacing: 15px;
        border-radius: 10px 10px;
        background: linear-gradient(0deg, rgba(45,44,38,1) 0%, rgba(0,0,0,1) 100%);
        width: 100%;
        height: 100%;
    }

        main .contenedor-articulos .contenedor-tabla table tr {
            border-bottom: 2px solid var(--color-secundario);
            height: 35px;
            text-align: center;
            width: 100%;
        }

        main .contenedor-articulos .contenedor-tabla table .encabezados {
            border: 2px solid var(--color-primario);
            background: var(--color-secundario);
            font-size: 1rem;
            color: var(--color-primario);
            text-align: center;
            height: 35px;
            width: 100%;
        }

        main .contenedor-articulos .contenedor-tabla table tr td {
            color: antiquewhite;
            cursor: pointer;
        }

            main .contenedor-articulos .contenedor-tabla table tr td img {
                width: 150px;
                aspect-ratio: 1/1;
                border-radius: 10px;
            }

            main .contenedor-articulos .contenedor-tabla table tr td button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: transparent;
            }

                main .contenedor-articulos .contenedor-tabla table tr td button span {
                    color: var(--color-primario-claro);
                    cursor: pointer;
                }

                main .contenedor-articulos .contenedor-tabla table tr td button:hover span {
                    transform: translateY(-3px);
                    color: var(--color-primario);
                }

/* configuracion formularios */

main .contenedor-articulos .vista-parcial {
    display: none;
    position: absolute;
    width: 90%;
    max-width: 900px;
    left: 10%;
    top: 0;
    box-shadow: 0px 0px 11px 13px rgba(0, 0, 0, 0.5);
}

    main .contenedor-articulos .vista-parcial .contenedor-formularios {
        display: flex;
        justify-content: space-evenly;
        height: 600px;
        align-items: center;
        flex-direction: row;
    }

        main .contenedor-articulos .vista-parcial .contenedor-formularios .separador {
            width: 50%;
            height: 80%;
            background: var(--color-secundario);
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 11px 13px rgba(0, 0, 0, 0.5);
        }

            main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .inputbox {
                margin-top: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .inputbox img {
                    width: 200px;
                    height: 200px;
                }

                main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .inputbox input {
                    display: none;
                }

                main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .inputbox .boton-personalizado {
                    background: transparent;
                    border: transparent;
                    color: var(--color-primario-claro);
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    cursor: pointer;
                }

                    main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .inputbox .boton-personalizado:hover span {
                        color: var(--color-primario);
                        transform: translateY(-3px);
                    }

                    main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .inputbox .boton-personalizado span {
                        position: relative;
                        font-size: 1rem;
                        cursor: pointer;
                    }

            main .contenedor-articulos .vista-parcial .contenedor-formularios .separador .botones {
                margin-top: 50px;
                width: 70%;
                position: relative;
                display: flex;
                justify-content: space-around;
            }

            main .contenedor-articulos .vista-parcial .contenedor-formularios .separador input {
            }

        main .contenedor-articulos .vista-parcial .contenedor-formularios .formulario-empresa {
        }

        main .contenedor-articulos .vista-parcial .contenedor-formularios .divisor {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            main .contenedor-articulos .vista-parcial .contenedor-formularios .divisor .formulario-contacto {
                background: var(--color-secundario);
                padding: 30px;
                border-radius: 10px;
            }

            main .contenedor-articulos .vista-parcial .contenedor-formularios .divisor .botones {
                width: 70%;
            }

.contenedor-articulos div#boxForm {
    background: var(--color-fondo-formularios1);
    box-shadow: 0px 0px 11px 13px rgba(0, 0, 0, 0.5);
    padding: 1% 1%;
    border-radius: 8px;
    width: 100%;
}

.contenedor-articulos form {
    width: 100%;
    height: 100%;
}

.contenedor-articulos label#titulo_login {
    color: var(--color-primario);
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 20px;
    text-shadow: rgba(1,1,1) 2px 2px 2px;
}

.contenedor-articulos .inputbox {
    position: relative;
    width: 100%;
    margin-top: 35px;
}

    .contenedor-articulos .inputbox input {
        position: relative;
        width: 100%;
        padding: 8px 5px 5px;
        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        color: var(--color-fondo-formularios1);
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        transition: 0.5s;
        z-index: 10;
        font-weight: 600;
    }

    .contenedor-articulos .inputbox span {
        position: absolute;
        left: 0;
        padding: 5px 0px 5px;
        pointer-events: none;
        color: var(--color-primario-claro);
        font-weight: lighter;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        transition: 0.5s;
    }

    .contenedor-articulos .inputbox input:valid ~ span,
    .contenedor-articulos .inputbox input:focus ~ span {
        color: var(--color-primario);
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }

    .contenedor-articulos .inputbox i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: var(--color-primario);
        border-radius: 4px;
        overflow: hidden;
        transition: 0.5s;
        pointer-events: none;
    }

    .contenedor-articulos .inputbox input:valid ~ i,
    .contenedor-articulos .inputbox input:focus ~ i {
        height: 41px;
    }

.contenedor-articulos form .links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

    .contenedor-articulos form .links a {
        margin-top: 10px;
        font-size: 1rem;
        color: var(--color-primario-claro);
        text-decoration: none;
    }

        .contenedor-articulos form .links a:hover {
            color: var(--color-primario);
            text-decoration: underline var(--color-primario);
        }

.contenedor-articulos .contenedor-articulos .botones {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    width: 50%;
}

.contenedor-articulos form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 9px;
    background: var(--color-secundario-botones);
    opacity: 0.7;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    width: auto;
    margin-top: 25px;
    transition: 0.3s;
}

.contenedor-articulos form input[type="button"] {
    border: none;
    outline: none;
    padding: 9px 9px;
    background: var(--color-secundario-botones);
    opacity: 0.7;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    width: auto;
    margin-top: 25px;
    transition: 0.3s;
}

.contenedor-articulos form input[type="submit"]:active {
    opacity: 0.8;
}

.contenedor-articulos form input[type="submit"]:hover {
    opacity: 1;
    background: var(--color-primario-botones);
    box-shadow: rgba(0,0,0,0.5) 3px 3px 0px 0px;
    transform: translateY(-3px);
}

.contenedor-articulos form input[type="button"]:hover {
    opacity: 1;
    background: var(--color-primario-botones);
    box-shadow: rgba(0,0,0,0.5) 3px 3px 0px 0px;
    transform: translateY(-3px);
}

.contenedor-articulos form .combobox .clase {
    width: 65%;
    background: transparent;
    border: transparent;
    color: var(--color-primario);
    font-size: 1rem;
    margin-top: 30px;
}

    .contenedor-articulos form .combobox .clase option {
        background: var(--color-secundario);
    }

.contenedor-articulos .archivo {
}

    .contenedor-articulos .archivo img {
        width: 100%;
        height: 100%;
    }

    .contenedor-articulos .archivo input {
    }
